# Data
data/raw/
data/interim/
data/processed/
*.json.gz
*.json
*.csv

# Models
models/
*.ckpt
*.bin
*.pt
*.pth

# Python
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
*.egg-info/
.venv/
venv/
ENV/

# IDE
.vscode/
.idea/
s